@import './../../../sass/variables';
@import './../../../sass/mixins';

.build-controls {
    color: $color-white;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
        margin-bottom: 1rem;
    }
}